ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.specialty__chef, .order__title, .team__chef, .about__title {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 42px;
  line-height: 1.14;
  font-family: "Kurale";
  text-transform: uppercase;
  text-align: center;
}

body {
  background-color: #fff;
  color: #000;
  font-family: "open sans" sans-serif;
  font-size: 18px;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 1400px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
}

.header {
  min-height: 800px;
  position: relative;
}
.header__img, .header__video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.7) 100%);
}
.header__center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}
.header__text {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #fff;
}
.header__title {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 70px;
  line-height: 0.25;
  font-family: "Kurale";
  text-align: center;
  color: #e8c300;
}
.header__title::after {
  content: "";
  display: block;
  width: 80px;
  height: 5px;
  border-radius: 20px;
  background: #e8c300;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-top: 50px;
}
.header__btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}
.header__btn-book, .header__btn-about {
  width: 200px;
  height: 60px;
  padding: 20px 30px;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.header__btn-about {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.header__btn-about:hover {
  background-color: #e8c300;
}
.header__btn-book {
  background-color: #e8c300;
}
.header__btn-book:hover {
  background-color: #b59800;
}
.header__down {
  display: block;
  width: 62px;
  height: 62px;
  margin: 0 auto;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.header__down:hover {
  background-color: #e8c300;
}

.social a {
  width: 62px;
  height: 62px;
  display: block;
  margin-bottom: 20px;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.social a:hover {
  background-color: #e8c300;
}

.time-work {
  width: 60px;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: 700;
  font-size: 12px;
  align-items: start;
  color: #fff;
  transform: rotate(180deg);
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
}

.header__item a {
  display: block;
  padding: 30px 20px;
  color: #fff;
  border-top: 5px solid transparent;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
}
.header__item a:hover {
  color: #e8c300;
  border-top: 5px solid #e8c300;
}

.logo {
  width: 70px;
  height: auto;
  margin-right: 45px;
  margin-left: 20px;
}

.about {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.about__title::after {
  content: "";
  display: block;
  width: 80px;
  height: 5px;
  border-radius: 20px;
  background: #e8c300;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
}
.about__text--primary {
  margin-bottom: 30px;
  max-width: 600px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
}
.about__text--secondary {
  max-width: 600px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.75;
  text-align: center;
}
.about__img {
  position: relative;
}
.about__img .circle {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 50%;
  border-radius: 50%;
  border: 20px solid #e8c300;
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
  right: 0;
  transform: translate(30%, -50%);
}
.about__img img {
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
}

.team {
  position: relative;
  min-height: 675px;
}
.team__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team__container {
  padding-top: 80px;
  padding-bottom: 80px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.team::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.3) 100%);
}
.team__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.team__img {
  position: relative;
  max-width: 100%;
}
.team__img .circle {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 50%;
  border-radius: 50%;
  border: 20px solid #e8c300;
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
  left: 0;
  transform: translate(-35%, -43%);
}
.team__img img {
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
}
.team__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.team__chef {
  color: #fff;
}
.team__chef::after {
  content: "";
  display: block;
  width: 80px;
  height: 5px;
  border-radius: 20px;
  background: #e8c300;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
}
.team__text--primary {
  margin-bottom: 30px;
  max-width: 600px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: #fff;
}
.team__text--secondary {
  max-width: 600px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.75;
  text-align: center;
  color: #fff;
}

.order {
  padding-top: 80px;
  padding-bottom: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
}
.order__title::after {
  content: "";
  display: block;
  width: 80px;
  height: 5px;
  border-radius: 20px;
  background: #e8c300;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
}
.order__reserv {
  max-width: 565px;
  width: 50%;
  text-align: center;
}
.order__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.order__form input {
  width: calc(50% - 5px);
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #E5E5E5;
  border: 1px solid transparent;
  outline: none;
  height: 60px;
  padding: 0 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  color: rgba(51, 51, 51, 0.5);
  transition: 0.3s;
}
.order__form input:focus {
  border: 1px solid #e8c300;
}
.order__form .order__btn {
  width: 100%;
  height: 60px;
  background-color: #e8c300;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  cursor: pointer;
  border-radius: 5px;
}
.order__img {
  position: relative;
}
.order__img .circle {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 50%;
  border-radius: 50%;
  border: 20px solid #e8c300;
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
  right: 0;
  transform: translate(30%, -50%);
}
.order__img img {
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
}
.order__time {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: rgba(51, 51, 51, 0.5);
}
.order__time a {
  font-weight: bold;
}

.swiper {
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.specialty {
  position: relative;
}
.specialty__title {
  position: absolute;
  width: 100%;
  top: 8%;
  left: 50%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: #fff;
  text-transform: uppercase;
  z-index: 2;
}
.specialty__img {
  position: relative;
  max-width: 100%;
}
.specialty__img .circle {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 50%;
  border-radius: 50%;
  border: 20px solid #e8c300;
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
  left: 0;
  transform: translate(-35%, -43%);
}
.specialty__chef {
  color: #fff;
}
.specialty__chef::after {
  content: "";
  display: block;
  width: 80px;
  height: 5px;
  border-radius: 20px;
  background: #e8c300;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
}
.specialty__text--primary {
  margin-bottom: 30px;
  max-width: 600px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: #fff;
}
.specialty__text--secondary {
  max-width: 600px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.75;
  text-align: center;
  color: #fff;
}

.specialty__slider {
  background: url(../img/specialty-bg.jpeg) center/cover no-repeat;
  padding-top: 145px;
  padding-bottom: 95px;
  padding-left: 130px;
  padding-right: 130px;
}

.swiper-slide img {
  width: 475px;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
}

.swiper-slide {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}/*# sourceMappingURL=main.css.map */