ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

svg {
  display: inline-block;
}

.contact__title, .menu__chef, .specialty__chef, .order__title, .team__chef, .about__title {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 42px;
  line-height: 1.14;
  font-family: "Kurale";
  text-transform: uppercase;
  text-align: center;
}

body {
  background-color: #fff;
  color: #000;
  font-family: "open sans" sans-serif;
  font-size: 18px;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 1400px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
}

.header {
  min-height: 800px;
  position: relative;
}
.header__img, .header__video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.7) 100%);
}
.header__center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}
.header__text {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #fff;
}
.header__title {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 70px;
  line-height: 0.25;
  font-family: "Kurale";
  text-align: center;
  color: #e8c300;
}
.header__title::after {
  content: "";
  display: block;
  width: 80px;
  height: 5px;
  border-radius: 20px;
  background: #e8c300;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-top: 50px;
}
.header__btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}
.header__btn-book, .header__btn-about {
  width: 200px;
  height: 60px;
  padding: 20px 30px;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.header__btn-about {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.header__btn-about:hover {
  background-color: #e8c300;
}
.header__btn-book {
  background-color: #e8c300;
}
.header__btn-book:hover {
  background-color: #b59800;
}
.header__down {
  display: block;
  width: 62px;
  height: 62px;
  margin: 0 auto;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.header__down:hover {
  background-color: #e8c300;
}

.social a {
  width: 62px;
  height: 62px;
  display: block;
  margin-bottom: 20px;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.social a:hover {
  background-color: #e8c300;
}

.time-work {
  width: 60px;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: 700;
  font-size: 12px;
  align-items: start;
  color: #fff;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
}

.header__item a {
  display: block;
  padding: 30px 20px;
  color: #fff;
  border-top: 5px solid transparent;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
}
.header__item a:hover {
  color: #e8c300;
  border-top: 5px solid #e8c300;
}

.logo {
  width: 70px;
  height: auto;
  margin-right: 45px;
  margin-left: 20px;
}

.about {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.about__title::after {
  content: "";
  display: block;
  width: 80px;
  height: 5px;
  border-radius: 20px;
  background: #e8c300;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
}
.about__text--primary {
  margin-bottom: 30px;
  max-width: 600px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
}
.about__text--secondary {
  max-width: 600px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.75;
  text-align: center;
}
.about__img {
  position: relative;
}
.about__img .circle {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 50%;
  border-radius: 50%;
  border: 20px solid #e8c300;
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
  right: 0;
  transform: translate(30%, -50%);
}
.about__img img {
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
}

.team {
  position: relative;
  min-height: 675px;
}
.team__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team__container {
  padding-top: 80px;
  padding-bottom: 80px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.team::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.3) 100%);
}
.team__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.team__img {
  position: relative;
  max-width: 100%;
}
.team__img .circle {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 50%;
  border-radius: 50%;
  border: 20px solid #e8c300;
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
  left: 0;
  transform: translate(-35%, -43%);
}
.team__img img {
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
}
.team__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.team__chef {
  color: #fff;
}
.team__chef::after {
  content: "";
  display: block;
  width: 80px;
  height: 5px;
  border-radius: 20px;
  background: #e8c300;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
}
.team__text--primary {
  margin-bottom: 30px;
  max-width: 600px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: #fff;
}
.team__text--secondary {
  max-width: 600px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.75;
  text-align: center;
  color: #fff;
}

.order {
  padding-top: 80px;
  padding-bottom: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
}
.order__title::after {
  content: "";
  display: block;
  width: 80px;
  height: 5px;
  border-radius: 20px;
  background: #e8c300;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
}
.order__reserv {
  max-width: 565px;
  width: 50%;
  text-align: center;
}
.order__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.order__form input {
  width: calc(50% - 5px);
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #E5E5E5;
  border: 1px solid transparent;
  outline: none;
  height: 60px;
  padding: 0 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  color: rgba(51, 51, 51, 0.5);
  transition: 0.3s;
}
.order__form input:focus {
  border: 1px solid #e8c300;
}
.order__form .order__btn {
  width: 100%;
  height: 60px;
  background-color: #e8c300;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  cursor: pointer;
  border-radius: 5px;
}
.order__form .order__btn:hover, .order__form .order__btn:focus {
  background-color: #b59800;
}
.order__img {
  position: relative;
}
.order__img .circle {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 50%;
  border-radius: 50%;
  border: 20px solid #e8c300;
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
  right: 0;
  transform: translate(30%, -50%);
}
.order__img img {
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
}
.order__time {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: rgba(51, 51, 51, 0.5);
}
.order__time a {
  font-weight: bold;
}

.specialty {
  position: relative;
}
.specialty__title {
  position: absolute;
  top: 8%;
  left: 50%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: #fff;
  text-transform: uppercase;
  z-index: 2;
}
.specialty__img {
  position: relative;
  max-width: 100%;
}
.specialty__img .circle {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 50%;
  border-radius: 50%;
  border: 20px solid #e8c300;
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
  left: 0;
  transform: translate(-35%, -43%);
}
.specialty__chef {
  color: #fff;
}
.specialty__chef::after {
  content: "";
  display: block;
  width: 80px;
  height: 5px;
  border-radius: 20px;
  background: #e8c300;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
}
.specialty__text--primary {
  margin-bottom: 30px;
  max-width: 600px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: #fff;
}
.specialty__text--secondary {
  max-width: 600px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.75;
  text-align: center;
  color: #fff;
}

.specialty__slider {
  background: url(../img/specialty-bg.jpeg) no-repeat;
  background-size: cover;
  height: auto;
  padding-top: 145px;
  padding-bottom: 95px;
  padding-left: 130px;
  padding-right: 131px;
}

.swiper-slide .dish__img {
  width: 475px;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
}

.swiper-slide {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #e8c300;
}

.swiper-spec {
  background-color: #333333;
}

.menu {
  padding-top: 70px;
  padding-bottom: 75px;
}
.menu__description {
  text-align: center;
  margin: 0 auto;
}
.menu__chef::after {
  content: "";
  display: block;
  width: 80px;
  height: 5px;
  border-radius: 20px;
  background: #e8c300;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
}
.menu__text--primary {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
}

.tabs__container {
  margin-top: 45px;
  position: relative;
  margin-bottom: 55px;
  max-width: 1400px;
  overflow-y: hidden;
  overflow-x: auto;
}
.tabs__container::-webkit-scrollbar {
  height: 8px;
  background-color: #E5E5E5;
  border-radius: 6px;
}
.tabs__container::-webkit-scrollbar-thumb {
  background-color: #e8c300;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #333333;
  transition: 0.3s;
}
.tabs__item {
  padding: 20px 30px;
  transition: 0.3s;
}
.tabs__item:hover, .tabs__item:focus, .tabs__item.active {
  background-color: #e8c300;
  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.menu__sliders {
  position: relative;
  max-width: 1400px;
  min-height: 500px;
  margin: 0 auto;
  overflow: hidden;
}
.menu__sliders .swiper-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 0;
}

.menu__slider-block {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: 0.3s;
}
.menu__slider-block.show {
  opacity: 1;
  z-index: 2;
}

.menu__slider {
  height: 100%;
}

.menu__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 500px;
  gap: 20px;
  margin: 0;
}
.menu__item-img {
  max-width: 260px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  box-shadow: rgba(94, 94, 41, 0.3) 0px 1px 2px 0px, rgba(220, 232, 125, 0.15) 0px 2px 6px 2px;
}

.menu__title,
.menu__price {
  font-family: "Kurale";
  text-transform: uppercase;
  font-size: 18px;
  color: #333333;
  font-weight: 400;
}

.menu__title {
  display: inline-block;
  border-bottom: 1px solid #333333;
}

.menu__desc {
  font-size: 12px;
  line-height: 14px;
  color: #333333;
  margin-top: 24px;
}

.menu__item-img {
  filter: none;
}

.menu__item-text {
  max-width: 220px;
}

.menu__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  color: #333333;
}

.menu__slider .swiper-slide {
  height: 190px;
  margin-bottom: 55px;
  display: flex;
  justify-content: center;
}

.event {
  background-image: url("../img/event-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-bottom: 45px;
  padding-left: 100px;
  padding-right: 100px;
}
.event__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}
.event__img {
  position: relative;
  margin-bottom: 45px;
}
.event__img .circle-left {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 50%;
  border-radius: 50%;
  border: 20px solid #e8c300;
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
  left: 0;
  top: 45%;
  transform: translate(-35%, -43%);
  z-index: 2;
}
.event__img .circle-right {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 50%;
  border-radius: 50%;
  border: 20px solid #e8c300;
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
  right: 0;
  top: 45%;
  transform: translate(30%, -47%);
  z-index: 2;
}
.event__img .event__block-left {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 1;
  background-color: #e8c300;
  position: absolute;
  left: 0%;
  top: 90%;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  font-family: "Kurale";
  text-transform: uppercase;
}
.event__img .event__block-right {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 1;
  background-color: #e8c300;
  position: absolute;
  right: 0%;
  top: 90%;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  font-family: "Kurale";
  text-transform: uppercase;
}
.event__text-down {
  color: #E5E5E5;
  text-align: center;
}

.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 100px;
}

.events-pic {
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
}

.contact {
  padding-top: 70px;
  padding-bottom: 70px;
}
.contact__title::after {
  content: "";
  display: block;
  width: 80px;
  height: 5px;
  border-radius: 20px;
  background: #e8c300;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
}
.contact__text--primary {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
}
.contact__label {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 1400px;
}
.contact__form {
  max-width: 1400px;
}
.contact__input {
  width: calc(33.3333% - 15px);
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 5px;
  background-color: #E5E5E5;
  border: 1px solid transparent;
  outline: none;
  color: #333333;
  transition: 0.3s;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
}
.contact__input:hover, .contact__input:focus {
  border: 1px solid #e8c300;
}
.contact__textarea {
  resize: none;
  max-height: 120px;
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #E5E5E5;
  border: 1px solid transparent;
  outline: none;
  color: #333333;
  transition: 0.3s;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
}
.contact__textarea:hover, .contact__textarea:focus {
  border: 1px solid #e8c300;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.contacts__data {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.contacts__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #333333;
}
.contacts__btn {
  max-width: 500px;
  width: 50%;
  background-color: #e8c300;
  height: 60px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  cursor: pointer;
  border-radius: 5px;
}
.contacts__btn:hover, .contacts__btn:focus {
  background-color: #b59800;
}

.map {
  width: 100%;
  height: 475px;
}
.map iframe {
  width: 100%;
  height: 100%;
}

footer {
  background-color: #000;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #333333;
  padding-top: 10px;
  padding-bottom: 10px;
}/*# sourceMappingURL=main.css.map */