.event {
   background-image: url('../img/event-bg.jpeg');
   background-size: cover;
   background-repeat: no-repeat;

   padding-top: 40px;
   padding-bottom: 45px;
   padding-left: 100px;
   padding-right: 100px;

   &__title {
      @include font (700, 14px, 1.17);
      text-transform: uppercase;
      color: $main-light;
      text-align: center;
      margin-bottom: 40px;
   }

   &__img { 
   position: relative; 
   margin-bottom: 45px;

   .circle-left {
         @include circle;
         left: 0;
         top: 45%;
         transform: translate(-35%, -43%);
         z-index: 2;
   }

   .circle-right {
      @include circle;
         right: 0;
         top: 45%;
         transform: translate(30%, -47%);
         z-index: 2;
   }

   .event__block-left {
      width:100%;
      padding-top: 15px;
      padding-bottom: 15px;
      z-index: 1;
      background-color: $brand-color;
      position: absolute;
      left: 0%;
      top: 90%;
      filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      text-align: center;

      @include font (400,18px,1.17);
      font-family: 'Kurale';
      text-transform: uppercase;
   }

   .event__block-right {
      width:100%;
      padding-top: 15px;
      padding-bottom: 15px;
      z-index: 1;
      background-color: $brand-color;
      position: absolute;
      right: 0%;
      top: 90%;
      filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      text-align: center;

      @include font (400,18px,1.17);
      font-family: 'Kurale';
      text-transform: uppercase;
   }
   }

   &__text-down {
      color: $background-grey;
      text-align: center;
   }
}

.events {
   @include flex (center, center);
   flex-wrap: nowrap;
   gap: 100px;
}

.events-pic {
   width: 400px;
   height: 400px;
   object-fit: cover;
   filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
    border-radius: 5px;
}