.menu {
   padding-top: 70px;
   padding-bottom: 75px;

   &__description {
      text-align: center;
      margin: $mc;
   }

   &__chef {
      @extend %title-section;

        &::after {
            @include line;
        }
   }

   &__text--primary {
      margin-bottom: 30px;

      @include font (700,18px,1.56);
      text-align: center;
   }
}

// Menu tabs

.tabs__container {
   margin-top: 45px;
   position: relative;
   margin-bottom: 55px;
   max-width: 1400px;
   overflow-y: hidden;
   overflow-x: auto;

   // Scrollbar for long menu items
   &::-webkit-scrollbar {
      height: 8px;
      background-color: $background-grey;
      border-radius: 6px;
   }

   &::-webkit-scrollbar-thumb {
      background-color: $brand-color
   }
}

.tabs {
@include flex (center, center);
flex-wrap: nowrap;
      gap: 40px;

      @include font (700,12px,1.5);
      text-transform: uppercase;
      color: $grey-text;
      transition: 0.3s;

      &__item {

         padding: 20px 30px;
         transition: 0.3s;

         &:hover,
         &:focus,
         &.active {
         background-color: $brand-color;
         border-radius: 5px;
         box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
      }
      }     
}

// Menu sliders

.menu__sliders {
   position: relative;
   max-width: 1400px;;
   // padding-left: 135px;
   // padding-right: 135px;
   min-height: 500px;
   margin: $mc;
   overflow: hidden;

   // &-block {
   //    @include flex (center, center);
   //    flex-wrap: wrap;
   // }

   .swiper-wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      min-width: 0;
   }
}

.menu__slider-block {
   width: 100%;
   height: 100%;
   position: absolute;
   z-index:1;
   opacity: 0;
   transition: 0.3s;
   &.show {
      opacity: 1;
      z-index: 2;
   }
}

.menu__slider {
   height: 100%;
}

.menu__item {
   @include flex (center, center);
   flex-wrap: nowrap;
   max-width: 500px;
   gap: 20px;
   margin: 0;

   &-img {
      max-width: 260px;
      height: auto;
      object-fit: cover;
      border-radius: 4px;
      box-shadow: rgba(94, 94, 41, 0.3) 0px 1px 2px 0px, rgba(220, 232, 125, 0.15) 0px 2px 6px 2px;
   }
}

.menu__title,
.menu__price {
  font-family: 'Kurale';
  text-transform: uppercase;
  font-size: 18px;
  color: $grey-text;
  font-weight: 400;
}

.menu__title {
  display: inline-block;
  border-bottom: 1px solid $grey-text;
}

.menu__desc {
  font-size: 12px;
  line-height: 14px;
  color: $grey-text;
  margin-top: 24px;
}

.menu__item-img {
   filter: none;
}

.menu__item-text {
   max-width: 220px;
}

.menu__desc {
   @include font (400, 14px, 1.17);
   color:$grey-text;
}

.menu__slider .swiper-slide {
   height: 190px;
   margin-bottom: 55px;
   display: flex;
  justify-content: center;
}


