.menu {
   padding-top: 70px;
   padding-bottom: 75px;

   &__description {
      text-align: center;
      margin: $mc;
   }

   &__chef {
      @extend %title-section;

        &::after {
            @include line;
        }
   }

   &__text--primary {
      margin-bottom: 30px;

      @include font (700,18px,1.56);
      text-align: center;
   }
}

// Menu tabs

.tabs__container {
   margin-top: 45px;
   margin-bottom: 55px;
   overflow-y: hidden;
   overflow-x: auto;

   // Scrollbar for long menu items
   &::-webkit-scrollbar {
      height: 8px;
      background-color: $background-grey;
      border-radius: 6px;
   }

   &::-webkit-scrollbar-thumb {
      background-color: $brand-color
   }
}

.tabs {
@include flex (center, center);
flex-wrap: nowrap;
      gap: 40px;

      @include font (700,12px,1.5);
      text-transform: uppercase;
      color: $grey-text;
      transition: 0.3s;

      &__item {

         padding: 20px 30px;
         transition: 0.3s;

         &:hover,
         &:focus,
         &.active {
         background-color: $brand-color;
         border-radius: 5px;
         box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }
      }     
}

// Menu sliders

.menu__sliders {
   padding-left: 135px;
   padding-right: 135px;
   height: 500px;

   &-block {
      @include flex (center, center);
      flex-wrap: wrap;
   }

   .swiper-wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
   }
}

.menu__slider-block {
   width: 100%;
   height: 100%;
   opacity: 0;
   z-index:1;
   transition: 0.3s;
   position: absolute;

   &.show {
      opacity:1;
      z-index: 2;
   }
}

.menu__slider {
   height: 100%;
   position: relative;
}

.menu__item {
   @include flex (space-between, center);
   flex-wrap: nowrap;
   max-width: 500px;
   gap: 20px;

   &-img {
      width: 260px;
      height: 170px;
      object-fit: cover;
   }
}

.menu__item-img {
   filter: none;
}

.menu__item-text {
   width: 220px;
}

.menu__desc {
   @include font (400, 12px, 1.17);
   color:$grey-text;
}

.menu__slider .swiper-slide {
   height: 175px;
   margin-bottom: 55px;
}