.specialty {
    position: relative;
    //  min-height: 675px;

    &__title {
        position: absolute;
        top: 8%;
        left: 50%;
        @include font(700, 14px, 1.17);
        color: $main-light;
        text-transform: uppercase;
        z-index: 2;
    }

    &__img {
        position: relative;
        max-width: 100%;

        .circle {
            @include circle;
            left: 0;
            transform: translate(-35%, -43%);
        }
    }

    &__chef {
        @extend %title-section;
        color: $main-light;

        &::after {
            @include line;
        }
    }

    &__text--primary {
        margin-bottom: 30px;
        max-width: 600px;

        @include font(700, 18px, 1.56);
        text-align: center;
        color: $main-light;
    }

    &__text--secondary {
        max-width: 600px;

        @include font(400, 18px, 1.75);
        text-align: center;
        color: $main-light;
    }
}

// Custom setup Swiper Slide

.specialty__slider {
    background: url(../img/specialty-bg.jpeg) no-repeat;
    background-size: cover;
    height: auto;
    padding-top: 145px;
    padding-bottom: 95px;
    padding-left: 130px;
    padding-right: 131px;
}

.swiper-slide .dish__img{
    width: 475px;
    @include img-decor;
}

.swiper-slide {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.swiper-pagination-bullet {
   width: 10px;
   height: 10px;
   background-color: $brand-color;
}

.swiper-spec {
    background-color: $grey-text;
}
